<link rel="stylesheet" href="/static/assets/css/main.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
<div id="one">
    <div class="wrapper special">
        <div class="inner">
            <header class="major">
                <h2>앨범 정보</h2>
            </header>
            <img src="{{data.image}}" alt="앨범 커버">
            <h3>{{data.name}}</h3>
            <h4>{{data.artist}}</h4>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th></th>
                            <th>title</th>
                            <th>album</th>
                            <th>artist</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for track in data.tracks %}
                        <tr>
                            <td><a href='{% url "Music:search" %}?type=album&item={{data.name}}&artist={{data.artist}}'><img src="{{data.image_small}}" alt="{{data.name}}"></a></td>
                            <td><a href='{% url "Music:search" %}?type=track&item={{track.name}}&artist={{data.artist}}'>{{track.name}}</a></td>
                            <td><a href='{% url "Music:search" %}?type=album&item={{data.name}}&artist={{data.artist}}'>{{data.name}}</a></td>
                            <td><a href='{% url "Music:search" %}?type=artist&item={{data.artist}}'>{{data.artist}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.dropotron.min.js"></script>
<script src="/static/assets/js/browser.min.js"></script>
<script src="/static/assets/js/breakpoints.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>
<style>
    td{
        vertical-align: middle;
    }
    td:hover{
        background-color: rgba(0,0,0,0.2);
    }
</style>
<style>
    body::-webkit-scrollbar {
        width: 10px;  /* 스크롤바의 너비 */
    }
    
    body::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: rgba(255, 139, 119, 0.6); /* 스크롤바의 색상 */
        
        border-radius: 10px;
    }

    body::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .0);  /*스크롤바 뒷 배경 색상*/
    }
</style>