<link rel="stylesheet" href="/static/assets/css/main.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
<div id="one">
    <div class="wrapper special">
        <div class="inner">
            <header class="major">
                <h2>앨범 정보</h2>
            </header>
            <img src="{{data.image}}" alt="앨범 커버">
            <h3>{{data.name}}</h3>
            <h4>{{data.artist}}</h4>
        </div>
    </div>

</div>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.dropotron.min.js"></script>
<script src="/static/assets/js/browser.min.js"></script>
<script src="/static/assets/js/breakpoints.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>