{% extends 'base.html' %}
{% block title %}뮤직 스트리밍 플랫폼 - MANGO{% endblock  %}
{% block banner %}
<div id="banner">
    <div class="wrapper style1 special" style="padding: 2rem;">
        <div class="inner">
            <a href="/"><h1 class="heading alt" style="font-family: 'Dongle', sans-serif;">M A N G O</h1></a>
            <p style="font-family: 'Dongle', sans-serif;">뮤직 스트리밍 & 인공지능 챗봇 플랫폼</p>
        </div>
    </div>
</div>
{% endblock  %}

{% block contents %}
<div class='row' style='margin:0;'>
    <!-- Top100 -->
    <div class="col-6" style='height:90vh;padding:2% 4%;background-color:#ff8b77;'>
        <iframe src="{% url 'Music:top' %}" style='width:100%;height:100%;border:2px solid white;border-radius:10px;background-color:white;' id='iframe'></iframe>
    </div>
    <!-- 챗봇 -->
    <div class='col-6' style='padding:2% 4%;height: 90vh;background-color:#ff8b77;'>
        <div style='height:100%;border:2px solid white;border-radius:10px;background-color:white;'>
            <div class="chatheader" style='height: 10%;display:flex;margin: 0 3%;'>
                <img src="/static/images/MANGO.png" style="width:45px;height:45px;margin:auto 0;"/>
                <h3 style='margin:auto 0;font-family: "Lato"'>MANGO BOT</h3>
            </div>
            <div id="chatbox" style="height:80%;padding:10px;background-color:rgba(255, 139, 119, 0.3);overflow-y:scroll;overflow-x:hidden;max-height:100vh;"></div>
            <div class="chatfooter" style='height: 10%;'>
                <table width="100%" style='height: 100%;border: 0;'>
                    <tr style='border: 0;background-color:transparent;'>
                        <td width="90%" style='padding:0 0.6rem;vertical-align:middle;'>
                            <input id="chattext" type='text' placeholder="망고봇을 사용해보세용" style='font-size:0.7rem;'>
                        </td>
                        <td width="10%" style='padding:0 0.6rem;vertical-align:middle;'>
                            <a id='sendbtn' class="button primary">send</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div style='height: 30vh;position:fixed;bottom:10px;width:30%;z-index: 1000;left:10px;display:none;' id='playerdiv'>
    <iframe src="https://www.youtube.com/embed?playlist={{request.session.playlist}}&autoplay=1&loop=1" frameborder="1" style='width:100%; height:100%; border:5px solid white;border-radius:30px;' id='player'></iframe>
</div>
{% endblock  %}
{% block script %}
<style>
    #chatbox::-webkit-scrollbar {
        width: 10px;  /* 스크롤바의 너비 */
    }
    
    #chatbox::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: rgba(255, 139, 119, 0.6); /* 스크롤바의 색상 */
        
        border-radius: 10px;
    }

    #chatbox::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .0);  /*스크롤바 뒷 배경 색상*/
    }
</style>
<script>
    $player = $('#player');
    $playerdiv = $('#playerdiv')
    $chatbox = $('#chatbox');
    $(function(){
        // SEND 버튼을 누르거나
        $('#sendbtn').click(function(){
            send_message();
        })
    
        // ENTER key 가 눌리면
        $("#chattext").keyup(function(event){
            if(event.keyCode == 13){
                send_message();
            }
        })
    })
    function send_message(){
        const chattext = $('#chattext').val().trim()
    
        // 입력한 메세지가 없으면 리턴
        if(chattext == ""){
            $("#chattext").focus();
            return;
        }
    
        // 입력한 채팅 화면에 출력
        const addtext = "<div style='margin:2% 0%;text-align:right;'><span style='padding:1% 2%;background-color:#ff8b77;border-radius:10px;color:white;display:inline-block'>" + 
            (chattext.length>15?chattext.split('').reduce((acc,cur,i)=>{
                return acc+cur+(i%15==0?"<br>":"")
            }) :chattext)  + "</span></div>";
        $("#chatbox").append(addtext);
        $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
    
        // 먼저 입력했던 것은 지우기
        $('#chattext').val("");
        $('#chattext').focus();
    
        // API 서버에 요청할 데이터
        const jsonData = {
            query: chattext
        }
    
        $.ajax({
            url: 'http://127.0.0.10:5000/query/MANGO',
            type: "POST",
            data: JSON.stringify(jsonData),
            dataType: 'JSON', // 응답받을 데이터 타입
            contentType: 'application/json; charset=utf-8',
    
            success: function(response){
                // response.Answer 에 담겨있다.
        
                answerText = (response.Answer.length>15?response.Answer.split('').reduce((acc,cur,i)=>{
                    return acc+cur+(i%15==0?"<br>":"")
                }) :response.Answer)
    
                // 답변 작성
                let bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                    answerText + "</b></span></div>";
    
                // === === === 챗봇 동작 === === ===

                // 재생목록 재생
                if(response.Intent == '재생목록 재생'){
                    $.ajax({
                        url: "{% url 'User:getPlaylist' %}",
                        success: function(playR){
                            $player.attr('src', 'https://www.youtube.com/embed?autoplay=1&playlist='+playR.playlist+'&autoplay=1&loop=1')

                            // 답변 넣기
                            $chatbox.append(bottext);
                
                            // 스크롤 조정하기
                            $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})

                            // 띄우기
                            if($playerdiv.css('display')=='none'){
                               $playerdiv.slideToggle()
                            }
                        }
                    })
                // 재생목록 조회
                }else if(response.Intent == '재생목록 조회'){
                    $.ajax({
                        url: "{% url 'User:showPlaylist' %}",
                        success: function(playR){
                            playlistT = "<ol>"
                            for(play of playR.playlist){
                                playlistT += "<li style='border-radius:10px;background:#424242;margin-bottom:3%;color:white;padding:3%;'>"+ play.track.replace('953964', '&') + "<br>" + play.artist +"</li>"
                            }
                            playlistT += "</ol>"
                            console.log(playlistT)
                            bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                                answerText + "</b>"+playlistT+"</span></div>";

                            // 답변 넣기
                            $chatbox.append(bottext);
                
                            // 스크롤 조정하기
                            $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                        }
                    })
                // 음악정지
                }else if(response.Intent == '음악정지'){
                    // 내리기
                    if($playerdiv.css('display')=='block'){
                        $playerdiv.slideToggle()
                        $player.attr('src', '')
                     }else{
                         bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                            "음악 재생 중이 아닙니다." + "</b></span></div>"
                     }

                    // 답변 넣기
                    $chatbox.append(bottext);
        
                    // 스크롤 조정하기
                    $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                }else{
                    // 답변 넣기
                    $chatbox.append(bottext);
        
                    // 스크롤 조정하기
                    $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                }
            }
        })
    }
</script>
<style>
    ol > li::marker{
        color: #424242;
        font-weight: bold;
    }
</style>
{% endblock  %}