{% extends 'base.html' %}
{% block title %}뮤직 스트리밍 플랫폼 - MANGO{% endblock  %}
{% block banner %}
<div id="banner">
    <div class="wrapper style1 special" style="padding: 2rem;">
        <div class="inner">
            <a href="/"><h1 class="heading alt" style="font-family: 'Dongle', sans-serif;">M A N G O</h1></a>
            <p style="font-family: 'Dongle', sans-serif;">뮤직 스트리밍 & 인공지능 챗봇 플랫폼</p>
        </div>
    </div>
</div>
{% endblock  %}

{% block contents %}
<div class='row' style='margin:0;'>
    <!-- Top100 -->
    <div class="col-6" style='height:90vh;padding:2% 4%;background-color:#ff8b77;'>
        <iframe src="{% url 'Music:top' %}" style='width:100%;height:100%;border:2px solid white;border-radius:10px;background-color:white;' id='iframe'></iframe>
    </div>
    <!-- 챗봇 -->
    {% csrf_token %}
    <div class='col-6' style='padding:2% 4%;height: 90vh;background-color:#ff8b77;'>
        <div style='height:100%;border:2px solid white;border-radius:10px;background-color:white;'>
            <div class="chatheader" style='height: 10%;display:flex;margin: 0 3%;'>
                <img src="/static/images/MANGO.png" style="width:45px;height:45px;margin:auto 0;"/>
                <h3 style='margin:auto 0;font-family: "Lato"'>MANGO BOT</h3>
            </div>
            <div id="chatbox" style="height:80%;padding:10px;background-color:rgba(255, 139, 119, 0.3);overflow-y:scroll;overflow-x:hidden;max-height:100vh;"></div>
            <div class="chatfooter" style='height: 10%;'>
                <table width="100%" style='height: 100%;border: 0;'>
                    <tr style='border: 0;background-color:transparent;'>
                        <td width="90%" style='padding:0 0.6rem;vertical-align:middle;'>
                            <input id="chattext" type='text' placeholder="망고봇을 사용해보세용" style='font-size:0.7rem;'>
                        </td>
                        <td width="10%" style='padding:0 0.6rem;vertical-align:middle;'>
                            <a id='sendbtn' class="button primary">send</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div style='height: 30vh;position:fixed;bottom:10px;width:30%;z-index: 1000;left:10px;display:none;' id='playerdiv'>
    <iframe src="https://www.youtube.com/embed?playlist={{request.session.playlist}}&autoplay=1&loop=1" frameborder="1" style='width:100%; height:100%; border:5px solid white;border-radius:30px;' id='player'></iframe>
</div>
{% comment %} <input type='hidden' value='{{csrf_token}}' id='csrf_token'/> {% endcomment %}

{% endblock  %}
{% block script %}
<style>
    #chatbox::-webkit-scrollbar {
        width: 10px;  /* 스크롤바의 너비 */
    }
    
    #chatbox::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: rgba(255, 139, 119, 0.6); /* 스크롤바의 색상 */
        
        border-radius: 10px;
    }

    #chatbox::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .0);  /*스크롤바 뒷 배경 색상*/
    }
</style>
<script>
    $player = $('#player');
    $playerdiv = $('#playerdiv')
    $chatbox = $('#chatbox');
    audio = new Audio('/static/images/알림음.mp3');
    api_key = 'AIzaSyD-MlnJmv8El7gQLdQNALcPxlmOgXkuBMY'

    // 처음 켜면 말하기
    let bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
        "망고에게 인사를 건네보세요!" + "</b></span></div>"
    $chatbox.append(bottext).animate({scrollTop: $chatbox.prop('scrollHeight')})

    $(function(){
        // SEND 버튼을 누르거나
        $('#sendbtn').click(function(){
            send_message();
        })
    
        // ENTER key 가 눌리면
        $("#chattext").keyup(function(event){
            if(event.keyCode == 13){
                send_message();
            }
        })
    })

    // 음악 재생하기
    function play_(artist, track, play){
        $.ajax({
            url: `https://www.googleapis.com/youtube/v3/search?part=snippet&q=${artist} ${track}&type=video&key=`+api_key,
            datatype:'json',
            success:function(response){
                var videoId = response.items[0].id.videoId
                dataname = track.replace('&amp;', '953964')
                $.ajax({
                    url: ("{% url 'User:addPlaylist' %}?youtube=12345&track="+dataname+"&artist="+ artist).replace(/12345/, videoId.toString()),
                    datatype:'json',
                    success:function(response){
                        if(play){
                            document.querySelector('#player').src = 'https://www.youtube.com/embed?autoplay=1&playlist='+response.data+'&autoplay=1&loop=1'
                            // 띄우기
                            if($('#playerdiv').css('display')=='none'){
                                $('#playerdiv').slideToggle()
                             }
                        }else{
                            alert(track+' 을 플레이리스트에 추가했습니다!')
                        }
                    }
                })
            }
        })
    }
    // iframe 곡 정보
    function info_(track, artist){
        artist = artist.replace('&', '953964')
        console.log(`{% url "Music:search" %}?type=track&item=${track}&artist=${artist}`)
        $('#iframe').attr('src', `{% url "Music:search" %}?type=track&item=${track}&artist=${artist}`)
    }    

    function send_message(){
        const chattext = $('#chattext').val().trim()

        if("{{request.session.user}}" == ""){
            alert('로그인을 먼저 진행해주세요!')
            location.href = "{% url 'User:login' %}"
            return;
        }
    
        // 입력한 메세지가 없으면 리턴
        if(chattext == ""){
            $("#chattext").focus();
            return;
        }
    
        // 입력한 채팅 화면에 출력
        const addtext = "<div style='margin:2% 0%;text-align:right;'><span style='padding:1% 2%;background-color:#ff8b77;border-radius:10px;color:white;display:inline-block'>" + 
            (chattext.length>15?chattext.split('').reduce((acc,cur,i)=>{
                return acc+cur+(i%25==0?"<br>":"")
            }) :chattext)  + "</span></div>";
        $("#chatbox").append(addtext);
        $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
    
        // 먼저 입력했던 것은 지우기
        $('#chattext').val("");
        $('#chattext').focus();

        // 로딩 메세지 띄우기
        loading = $("<div style='margin:2% 0%;text-align:left;' id='loading'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>잠시만 기다려주세요</b>\
            <br><b>망고봇이 답변을 생각하고 있어요!</b></span><img style='width:50px;' src='/static/images/Spinner.gif'/></div>")
        $chatbox.append(loading).animate({scrollTop: $chatbox.prop('scrollHeight')})
    
        // API 서버에 요청할 데이터
        playlist_str = `{{request.session.playlist_info|safe}}`.replace(/\r/gi, '\\r').replace(/\n/gi, '\\n').replace(/\t/gi, '\\t').replace(/\f/gi, '\\f')
        const jsonData = {
            query: chattext,
            playlist: JSON.parse(playlist_str),
        }
        $.ajax({
            url: 'http://127.0.0.10:5000/query/MANGO',
            type: "POST",
            data: JSON.stringify(jsonData),
            dataType: 'JSON', // 응답받을 데이터 타입
            contentType: 'application/json; charset=utf-8',
    
            success: function(response){
                // response.Answer 에 담겨있다.
                console.log(response)
                //answerText = (response.Answer.length>15?response.Answer.split('').reduce((acc,cur,i)=>{
                //    return acc+cur+(i%20==0?"<br>":"")
                //}) :response.Answer)
                answerText = response.Answer    

                answerText = answerText.replace("user", "{{request.session.user.userid}}")
    
                // 답변 작성
                let bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                    answerText.replace("user", "{{request.session.user.userid}}") + "</b></span></div>";
    
                // === === === 챗봇 동작 === === ===
                if(response.Fail){
                    intent_list = ["음악추천", "검색", "음악재생", "음악정지",'재생목록 조회','재생목록 재생', '재생목록 추가','재생목록 삭제','날씨','기능소개','음악취향']
                    bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                        answerText.replace("user", "{{request.session.user.userid}}")+ "<br>질문 의도를 선택해주세요" + "</b></span></div>";
                    button_str = "<div id='buttons'>"
                    let i = 0
                    for(inte of intent_list){
                        button_str += `<button class='button small primary' style='margin: 3px;' onclick='retrain(${i}, "${chattext}")'>${inte}</button>`
                        i += 1;
                    }
                    button_str += "</div>"
                    //로딩 삭제
                    loading.remove()
                    // 답변 넣기
                    $chatbox.append(bottext).append(button_str);
                    // 스크롤 조정하기
                    $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                // 감정 추천
                }else if(response.Intent == '음악추천'){
                    recommend_music = JSON.parse(response.recommend)
                    recommend_text = `<p style='border-radius:10px;background:#424242;margin-bottom:3%;margin-top:3%;color:white;padding:3%;'>${response.emotion} 에 관련된 곡 추천드려요!</p>
                        <table style="border-radius:10px;margin-bottom:3%;color:white;padding:3%;background:#424242;text-align:center;display:table;table-layout:fixed;">
                            <tr>
                                <td style='vertical-align:middle' rowspan=2 colspan=3><img src=${recommend_music.image}/></td>
                                <td style='vertical-align:middle' colspan=5>${recommend_music.title}</td>
                            </tr>
                            <tr>
                                <td style='vertical-align:middle' colspan=5>${recommend_music.artists}</td>
                            </tr>
                            <tr>
                                <td colspan=2 onclick='play_("${recommend_music.artists}","${recommend_music.title}", true)'><i class="fa-solid fa-play"></i></td>
                                <td colspan=2 onclick='play_("${recommend_music.artists}","${recommend_music.title}", false)'><i class="fa-solid fa-plus"></i></td>
                                <td colspan=2 style='background-image: url("/static/images/MANGO.png"); background-size:contain;background-repeat: no-repeat;background-position:center;'
                                onclick='info_("${recommend_music.artists}","${recommend_music.title}")'></td>
                                <td colspan=2 style='background-image: url("/static/images/MELON.png"); background-size:contain;background-repeat: no-repeat;background-position:center;'
                                onclick='window.open("${recommend_music.url}")'></td>
                            </tr>
                        </table>`
                    bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                        recommend_text+"</span></div>";
                    //로딩 삭제
                    loading.remove()
                    $chatbox.append(bottext)
                    $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                // 재생목록 재생
                }else if(response.Intent == '재생목록 재생'){
                    $.ajax({
                        url: "{% url 'User:getPlaylist' %}",
                        success: function(playR){
                            $player.attr('src', 'https://www.youtube.com/embed?autoplay=1&playlist='+playR.playlist+'&autoplay=1&loop=1')

                            //로딩 삭제
                            loading.remove()
                            // 답변 넣기
                            $chatbox.append(bottext);
                            // 스크롤 조정하기
                            $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})

                            // 띄우기
                            if($playerdiv.css('display')=='none'){
                            $playerdiv.slideToggle()
                            }
                        }
                    })
                // 날씨추천
                }else if(response.Intent == '날씨'){
                    recommend_music = JSON.parse(response.recommend)
                    recommend_text = `<p style='border-radius:10px;background:#424242;margin-bottom:3%;margin-top:3%;color:white;padding:3%;'>${response.Weather} 에 관련된 곡 추천드려요!</p>
                        <table style="border-radius:10px;margin-bottom:3%;color:white;padding:3%;background:#424242;text-align:center;display:table;table-layout:fixed;">
                            <tr>
                                <td style='vertical-align:middle' rowspan=2 colspan=3><img src=${recommend_music.image}/></td>
                                <td style='vertical-align:middle' colspan=5>${recommend_music.title}</td>
                            </tr>
                            <tr>
                                <td style='vertical-align:middle' colspan=5>${recommend_music.artists}</td>
                            </tr>
                            <tr>
                                <td colspan=2 onclick='play_("${recommend_music.artists}","${recommend_music.title}", true)'><i class="fa-solid fa-play"></i></td>
                                <td colspan=2 onclick='play_("${recommend_music.artists}","${recommend_music.title}", false)'><i class="fa-solid fa-plus"></i></td>
                                <td colspan=2 style='background-image: url("/static/images/MANGO.png"); background-size:contain;background-repeat: no-repeat;background-position:center;'
                                onclick='info_("${recommend_music.artists}","${recommend_music.title}")'></td>
                                <td colspan=2 style='background-image: url("/static/images/MELON.png"); background-size:contain;background-repeat: no-repeat;background-position:center;'
                                onclick='window.open("${recommend_music.url}")'></td>
                            </tr>
                        </table>`
                    bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                        recommend_text+"</span></div>";
                    //로딩 삭제
                    loading.remove()
                    $chatbox.append(bottext)
                    $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                // 재생목록 조회
                }else if(response.Intent == '재생목록 조회'){
                    $.ajax({
                        url: "{% url 'User:showPlaylist' %}",
                        success: function(playR){
                            playlistT = "<ol>"
                            for(play of playR.playlist){
                                playlistT += "<li style='border-radius:10px;background:#424242;margin-bottom:3%;color:white;padding:3%;'>"+ play.track.replace('953964', '&') + "<br>" + play.artist +"</li>"
                            }
                            playlistT += "</ol>"
                            console.log(playlistT)
                            bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                                answerText + "</b>"+playlistT+"</span></div>";

                            //로딩 삭제
                            loading.remove()
                            // 답변 넣기
                            $chatbox.append(bottext);
                
                            // 스크롤 조정하기
                            $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                        }
                    })
                // 재생목록 추가
                }else if(response.Intent == '재생목록 추가'){
                    track = response.TRACK
                    $.ajax({
                        url: "{% url 'Music:searchlist' track=12345 %}".replace(/12345/, track),
                        success:function(response){
                            song = response.data.tracks[0].track
                            artist = response.data.tracks[0].artist
                            console.log(`${song} - ${artist} 재생목록에 추가`)
                            $.ajax({
                                url: `https://www.googleapis.com/youtube/v3/search?part=snippet&q=${song} ${artist} audio&type=video&key=`+api_key,
                                datatype:'json',
                                success:function(response){
                                    var videoId = response.items[0].id.videoId
                                    dataname = song.replace('&', '953964')
                                    $.ajax({
                                        url: ("{% url 'User:addPlaylist' %}?youtube=12345&track="+dataname+"&artist="+artist).replace(/12345/, videoId.toString()),
                                        datatype:'json',
                                        success:function(response){
                                            loading.remove()
                                            $chatbox.append(bottext).animate({scrollTop: $chatbox.prop('scrollHeight')})
                                        }
                                    })
                                }
                            })
                        }
                    })
                // 재생목록에서 음악 삭제
                }else if(response.Intent == '재생목록 삭제'){
                    track = response.TRACK
                    $.ajax({
                        url: "{% url 'User:deletePlaylist' track=12345 %}".replace(/12345/, track),
                        success(response){
                            if(response.data == 'success'){
                                console.log(track+" 플레이리스트에서 삭제")
                                loading.remove()
                                $chatbox.append(bottext).animate({scrollTop: $chatbox.prop('scrollHeight')})
                            }else{
                                console.log(track+" 플레이리스트에서 삭제 실패")
                                bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                                    track + " 은 재생목록에 없는 곡이에요.</b></span></div>"
                                loading.remove()
                                $chatbox.append(bottext).animate({scrollTop: $chatbox.prop('scrollHeight')})
                            }
                        }
                    })
                // 음악정지
                }else if(response.Intent == '음악정지'){
                    // 내리기
                    if($playerdiv.css('display')=='block'){
                        $playerdiv.slideToggle()
                        $player.attr('src', '')
                    }else{
                        bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                            "음악 재생 중이 아닙니다." + "</b></span></div>"
                    }

                    //로딩 삭제
                    loading.remove()
                    // 답변 넣기
                    $chatbox.append(bottext);
                    // 스크롤 조정하기
                    $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                // 음악취향
                }else if(response.Intent == '음악취향'){
                    recommend_music = JSON.parse(response.recommend)
                    recommend_text = `<p style='border-radius:10px;background:#424242;margin-bottom:3%;margin-top:3%;color:white;padding:3%;'>${response.most_mood}</p>
                        <table style="border-radius:10px;margin-bottom:3%;color:white;padding:3%;background:#424242;text-align:center;display:table;table-layout:fixed;">
                            <tr>
                                <td style='vertical-align:middle' rowspan=2 colspan=3><img src=${recommend_music.image}/></td>
                                <td style='vertical-align:middle' colspan=5>${recommend_music.title}</td>
                            </tr>
                            <tr>
                                <td style='vertical-align:middle' colspan=5>${recommend_music.artists}</td>
                            </tr>
                            <tr>
                                <td colspan=2 onclick='play_("${recommend_music.artists}","${recommend_music.title}", true)'><i class="fa-solid fa-play"></i></td>
                                <td colspan=2 onclick='play_("${recommend_music.artists}","${recommend_music.title}", false)'><i class="fa-solid fa-plus"></i></td>
                                <td colspan=2 style='background-image: url("/static/images/MANGO.png"); background-size:contain;background-repeat: no-repeat;background-position:center;'
                                onclick='info_("${recommend_music.artists}","${recommend_music.title}")'></td>
                                <td colspan=2 style='background-image: url("/static/images/MELON.png"); background-size:contain;background-repeat: no-repeat;background-position:center;'
                                onclick='window.open("${recommend_music.url}")'></td>
                            </tr>
                        </table>`
                    bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                        recommend_text+"</span></div>";
                    //로딩 삭제
                    loading.remove()
                    $chatbox.append(bottext)
                    $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                // 음악 재생
                }else if(response.Intent == '음악재생'){
                    track = response.TRACK
                    $.ajax({
                        url: "{% url 'Music:searchlist' track=12345 %}".replace(/12345/, track),
                        success:function(response){
                            song = response.data.tracks[0].track
                            artist = response.data.tracks[0].artist
                            console.log(`${song} - ${artist} 재생목록에 추가`)
                            api_key = 'AIzaSyD-MlnJmv8El7gQLdQNALcPxlmOgXkuBMY'
                            $.ajax({
                                url: `https://www.googleapis.com/youtube/v3/search?part=snippet&q=${song} ${artist} audio&type=video&key=`+api_key,
                                datatype:'json',
                                success:function(response){
                                    var videoId = response.items[0].id.videoId
                                    $.ajax({
                                        url: ("{% url 'User:addPlaylist' %}?youtube=12345&track="+song+"&artist="+artist).replace(/12345/, videoId.toString()),
                                        datatype:'json',
                                        success:function(response){
                                            //로딩 삭제
                                            loading.remove()
                                            $chatbox.append(bottext)
                                            $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
        
                                            $player.attr('src', 'https://www.youtube.com/embed?autoplay=1&playlist='+response.data+'&autoplay=1&loop=1')
                                            // 띄우기
                                            if($playerdiv.css('display')=='none'){
                                                $playerdiv.slideToggle()
                                            }
                                        }
                                    })
                                }
                            })
                        }
                    })

                // 검색
                }else if(response.Intent == "검색"){
                    track = response.TRACK 
                    $.ajax({
                        url: "{% url 'Music:searchlist' track=12345 %}".replace(/12345/, track),
                        success:function(response){
                            console.log(response)
                            result = $("<div style='margin:2% 0%;padding: 2%;text-align:left;background:#ffcd48;border-radius:10px;display:inline-block;'></div>")
                            if(response.data.artist){
                                console.log('검색결과에 아티스트 있음')
                                result.append(`
                                <h3 style='margin:0;'>가수 검색 결과</h3>
                                <hr style='margin: 2% 0%;'>
                                <div class="artistresult" style='text-align:center;background-color:#424242;color:white;display:inline-block;padding: 2%;border-radius:10px;margin-bottom:2%;'
                                onclick="$('#iframe').attr('src', '{% url "Music:search" %}?type=artist&item=${response.data.artist.name}')">
                                    <img src='${response.data.artist.image}' width=120 height=120 style='border-radius:10px;'/>
                                    <p style='margin:0;'>${response.data.artist.name}</p>
                                </div>
                                `)
                            }
                            result.append(`
                                <h3 style='margin:0;'>곡 검색 결과</h3>
                                <hr style='margin: 2% 0%;'>
                            `)
                            var tracktable = $('<table style="background:#424242;border-radius:10px;color:white;" id="tracktable"></table>')
                            for(trackresult of response.data.tracks){
                                tracktable.append(`<tr onclick="$('iframe').attr('src', '{% url "Music:search" %}?type=track&item=${trackresult.track}&artist=${trackresult.artist}')"><td>${trackresult.track} - ${trackresult.artist}</td><tr>`)
                            }
                            //로딩 삭제
                            loading.remove()
                            $chatbox.append(bottext).append(result.append(tracktable)).animate({scrollTop: $chatbox.prop('scrollHeight')})
                            console.log(result)
                        }
                    })
                // 기능 소개
                }else if(response.Intent == "기능소개"){
                    info = $(`<img src="/static/images/func.png" style="width:100%; border-radius:10px; padding: 3%; background-color:#ffcd48;"/>`)
                    loading.remove()
                    $chatbox.append(info).animate({scrollTop: $chatbox.prop('scrollHeight')})
                }else{
                    //로딩 삭제
                    loading.remove()
                    $chatbox.append(bottext);
                    $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                }
            }
        })
    }
    function retrain(intent, query){
        console.log(intent, query)
        $.ajax({
            url:`{% url 'Music:update' %}`,
            type:"GET",
            data:{'query':query,'intent':intent},
            dataType:"JSON",
            contentType:'application/json; charset=utf-8',
            success: function(response){
                if(response.data == "성공"){
                    $('#buttons').remove()
                    bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                        '감사합니다!<br>더 공부해올게요!' + "</b></span></div>"
                    $chatbox.append(bottext);
                    $chatbox.animate({scrollTop: $chatbox.prop('scrollHeight')})
                }else{
                    alert("실패 ....")
                }
            }
        })

    }
    {% comment %} ?query=${query}&intent=${intent} {% endcomment %}
</script>
<style>
    ol > li::marker{
        color: #424242;
        font-weight: bold;
    } 
    #tracktable{
        margin: 0;
    }
    #tracktable > tr:not(:last-child){
        border-bottom: 1px solid #ffcd48;
    }
    .artistresult:hover{
        opacity: 0.8;
    }
    #tracktable > tr:hover{
        background-color: rgba(0,0,0,0.5)
    }
</style>
{% endblock  %}