{% extends 'base.html' %}
{% block title %}뮤직 스트리밍 플랫폼 - MANGO{% endblock  %}
{% block banner %}
<div id="banner">
    <div class="wrapper style1 special">
        <div class="inner">
            <h1 class="heading alt" style="font-family: 'Dongle', sans-serif;">M A N G O</h1>
            <p style="font-family: 'Dongle', sans-serif;">뮤직 스트리밍 & 인공지능 챗봇 플랫폼</p>
        </div>
    </div>
</div>
{% endblock  %}

{% block contents %}
<iframe src="{% url 'Music:top' %}" style='width: 50%;height: 1000px;' id='iframe'></iframe>

{% comment %} <div id="one">
    <div class="wrapper special">
        <div class="inner">
            <header class="major">
                <h2>Top 100</h2>
            </header>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th></th>
                            <th>title</th>
                            <th>album</th>
                            <th>artist</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in melons %}
                        <tr>
                            <td><img src="{{song.image}}" alt="{{song.title}}"></td>
                            <td>{{song.title}}</td>
                            <td>{{song.album}}</td>
                            <td>{{song.artist}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> {% endcomment %}
{% endblock  %}