<link rel="stylesheet" href="/static/assets/css/main.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
<div id="one">
    <div class="wrapper special">
        <div class="inner">
            <header class="major">
                <h2>Top 100</h2>
            </header>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th></th>
                            <th>title</th>
                            <th>album</th>
                            <th>artist</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in melons %}
                        <tr>
                            <td><a href='{% url "Music:search" %}?type=album&item={{song.album}}'><img src="{{song.image}}" alt="{{song.album}}"></a></td>
                            <td><a href='{% url "Music:search" %}?type=track&item={{song.track}}'>{{song.track}}</a></td>
                            <td><a href='{% url "Music:search" %}?type=album&item={{song.album}}'>{{song.album}}</a></td>
                            <td><a href='{% url "Music:search" %}?type=artist&item={{song.artist}}'>{{song.artist}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.dropotron.min.js"></script>
<script src="/static/assets/js/browser.min.js"></script>
<script src="/static/assets/js/breakpoints.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>
<style>
    td{
        vertical-align: middle;
    }
    td:hover{
        background-color: rgba(0,0,0,0.2);
    }
</style>