<link rel="stylesheet" href="/static/assets/css/main.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c0bcdc1f96.js" crossorigin="anonymous"></script>
<div id="one">
    <div class="wrapper special" style='padding-top:3%;'>
        <a href="{% url 'Music:top' %}" class="button primary icon solid fa-arrow-left" style='float:left;position:fixed;left: 3%;opacity: 0.8;'>Top100</a>
        <div style='clear:both;'></div>
        <div class="inner">
            <header class="major">
                {% if data.error == "IndexError" %}
                <h2>곡 정보 찾기를 실패했습니다.</h2>
                {% else %}
                <h2>곡 정보</h2>
                {% endif %}
            </header>
            <img src="{{data.image}}" alt="앨범 커버">
            <h2 class='name'>{{data.name}}</h2>
            <a href="javascript:youtube(true);" class="button primary fit small" style='margin-bottom: 1%;'><i class='fa-solid fa-play' style='margin-right: 1%;'></i>PLAY</a>
            <a href="javascript:youtube(false);" class="button fit small" style='margin-bottom: 3%;'><i class='fa-solid fa-plus' style='margin-right: 1%;'></i>ADD PLAYLIST</a>
            <div class="box">
                <h3>아티스트</h3>
                <a href='{% url "Music:search" %}?type=artist&item={{data.artist}}' class='artists'><h4>{{data.artist}}</h4></a>
                <h3>앨범</h3>
                <a href='{% url "Music:search" %}?type=album&item={{data.album}}&artist={{data.artists.0.name}}'><h4>{{data.album}}</h4></a>
                <h3>발매</h3>
                <p>{{data.release}}</p>
                <h3>가사</h3>
                <div style='text-align:left;'>
                {% for lyric in data.lyrics %}
                <p style='margin:0;min-height:3%;'>{{lyric}}</p>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.dropotron.min.js"></script>
<script src="/static/assets/js/browser.min.js"></script>
<script src="/static/assets/js/breakpoints.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>
<style>
    td{
        vertical-align: middle;
    }
    td:hover{
        background-color: rgba(0,0,0,0.2);
    }
</style>
<style>
    body::-webkit-scrollbar {
        width: 10px;  /* 스크롤바의 너비 */
    }
    
    body::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: rgba(255, 139, 119, 0.6); /* 스크롤바의 색상 */
        
        border-radius: 10px;
    }

    body::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .0);  /*스크롤바 뒷 배경 색상*/
    }
    div.box > h3 {
        border-bottom: 2px solid #ff8b77;
    }
</style>
<script>
    api_key = 'AIzaSyD-MlnJmv8El7gQLdQNALcPxlmOgXkuBMY'
    function youtube(play){
        name = $('h2.name').text()
        artist = $('.artist').text()
        $.ajax({
            url: `https://www.googleapis.com/youtube/v3/search?part=snippet&q=${artist} ${name}&type=video&key=`+api_key,
            datatype:'json',
            success:function(response){
                var videoId = response.items[0].id.videoId
                dataname = name.replace('&', '953964')
                $.ajax({
                    url: ("{% url 'User:addPlaylist' %}?youtube=12345&track="+dataname+"&artist="+artist).replace(/12345/, videoId.toString()),
                    datatype:'json',
                    success:function(response){
                        if(play){
                            window.parent.document.querySelector('#player').src = 'https://www.youtube.com/embed?autoplay=1&playlist='+response.data+'&autoplay=1&loop=1'
                            // 띄우기
                            if($(window.parent.document.querySelector('#playerdiv')).css('display')=='none'){
                                $(window.parent.document.querySelector('#playerdiv')).slideToggle()
                             }
                        }else{
                            alert(dataname+' 을 플레이리스트에 추가했습니다!')
                        }
                    }
                })
            }
        })
    }
</script>