<!DOCTYPE HTML>
<!--
	Inverse by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>{% block title %}{% endblock  %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<style>
			ul.icons li {
				float: left
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header" class="alt" style='padding:1rem;'>
				<a style='display:flex;' class="logo" href="index.html"><img width='45' height='45' src="/static/images/MANGO.png" alt='MANGO'><p style='margin: auto;'>MANGO</p></a>
				<nav id="nav">
					<ul>
						<li class="current"><a href="index.html">Home</a></li>
						{% if request.session.id %}
							{% comment %} <li>
								<a href="{% url 'myinfo' %}" class="dropdown">MyInfo</a>
								<ul>
									<li><a href="#">Option One</a></li>
									<li><a href="#">Option Two</a></li>
									<li><a href="#">Option Three</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
								</ul>
							</li> {% endcomment %}
							<li><a href="{% url 'logout' %}">logout</a></li>
						{% else %}
							<li><a href="{% url 'login' %}">Login</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

            {% block contents %}{% endblock  %}


		<!-- Footer -->
			<div id="footer">
				<div class="wrapper style2">
					<div class="inner">
						<header class="major">
							<h2>Get in touch</h2>
							<p>Sed egestas, ante et vulputate volutpat pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum lorem ipsum dolor sit amet consequat hendrerit tortor semper lorem at felis.</p>
						</header>
						<div class="content">
							<ul class="icons">
								<li>
									<span class="icon solid fa-home"></span>
									<div>
										<strong>Address</strong>
										1234 Somewhere Road #543<br />
										Nashville, TN 00000
									</div>
								</li>
								<li>
									<span class="icon solid fa-envelope"></span>
									<div>
										<strong>Email</strong>
										<a href="mailto:information@domain.ext">information@domain.ext</a>
									</div>
								</li>
								<li>
									<span class="icon solid fa-phone"></span>
									<div>
										<strong>Phone</strong>
										(000) 000-0000 ext 0000
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="copyright">
						&copy; Untitled. All rights reserved. Lorem ipsum dolor sit amet.
					</div>
				</div>
			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
	{% block script %}{% endblock  %}
</html>